
* {
    font-family: 'Comfortaa', cursive;
} 

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input-group.md-form.form-sm.form-1 input{
	border: 1px solid orange;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
	border: 1px solid orange;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.amber-border {
	border: 1px solid black;
  }

#navbar-toggler {
	color: black;
	border-color: black;
  }

.EstiloCarrito {
	display: none;
	width: 100%;
	background-color: white;
	position: fixed;
	border: 1px solid orange;
	border-radius: 5px;
	padding: 10px;
	z-index: 100;
	top: 120px;
	-webkit-box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);
	-moz-box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);
	box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);

}

#basic-text1 {
	background-color: black;
	border: 1px solid  black;
}

.botonCarrito {
	position: fixed;
	z-index: 10;
	top: 20px;
	-webkit-box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);
	-moz-box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);
	box-shadow: 6px 9px 19px -9px rgba(0,0,0,0.67);
}